.map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-family: Arial, sans-serif;
}

#help {
    position: fixed;
    bottom: 1em;
    left: 1em;
    background: ghostwhite;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}



.pane {
    position: fixed;
    bottom: 1em;
    /*right: 1em;*/
    left: 1em;
    height: 314px;
    width: 50%;
    background: ghostwhite;
    box-sizing: border-box;
    padding: 10px;
    font-family: Arial, sans-serif;
}

#img-load {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.panel {
    height: 294px;
}

.feature-info {
    /*overflow: scroll;*/
    display: flex;
    justify-content: space-evenly;
    height: 270px;
    padding: 10px;
}

.feature-info-content {
    float: left;
    /*padding-right: 10px;*/
    height: 250px;
    background: whitesmoke;
}

.close {
    font-size: 0.8em;
}

/*************************
Table styling
**************************/

#feature-info-table {
    display: table;
}

.table {
    display: table-cell;
    vertical-align: middle;
    font-size: 0.8em;
    line-height: 0.6em;
}

/*************************
Container styling - CHART only
**************************/

.chart-container {
    font-family: Arial, sans-serif;
    font-size: 0.8em;
}

