.map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-family: Arial, sans-serif;
}

.pane {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 220px;
    background: ghostwhite;
    box-sizing: border-box;
    padding: 10px;
    font-family: Arial, sans-serif;
}

.panel {
    height: 200px;
}

.feature-info {
    /*overflow: scroll;*/
    height: 176px;
    padding: 10px;
}

.feature-info-content {
    float: left;
    padding-right: 10px;
    height: 150px;
}

/*************************
Table-related styling
**************************/

.table {
    font-size: 0.8em;
    line-height: 0.6em;
}

